/* Estilos base */
.content-wrapper {
  max-width: 100%;
  width: 90%;
  margin: 120px auto;
  padding: 20px;
  background: white;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  border-radius: 12px;
}

h2 {
  color: #333;
  font-size: 1.6rem;
  margin-bottom: 25px;
}

/* Formularios */
.gestion-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
}

.form-grid div {
  display: flex;
  flex-direction: column;
}

.inputedit, 
input, 
select {
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1.1rem;
  width: 100%;
}

input:focus,
select:focus {
  outline: none;
  border-color: #4c6aaf;
}

/* Botones */
button {
  padding: 8px 22px;
  border-radius: 8px;
  font-size: 1.1rem;
  transition: all 0.3s;
  cursor: pointer;
}

.btn-edit, 
.bg-green-500 {
  background-color: #bbc2c7;
  color: black;
  border: none;
}

.btn-edit:hover, 
.bg-green-500:hover {
  background-color: #949a9e;
}

.btn-cancel, 
.bg-red-500 {
  background-color: #f16464;
  color: black;
  border: none;
}

.btn-cancel:hover, 
.bg-red-500:hover {
  background-color: #d95454;
}

.form-buttons {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

/* Tablas */
.table-container {
  margin-top: 25px;
  overflow-x: auto;
  border-radius: 12px;
}

table {
  width: 100%;
  border-collapse: collapse;
  font-size: 1.1rem;
}

th, td {
  padding: 14px;
  text-align: left;
}

th {
  background-color: #222a35;
  color: white;
  font-weight: bold;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}

tr:hover {
  background-color: #f1f1f1;
}

/* Búsqueda */
.search-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.search-input {
  flex: 1;
  padding: 10px;
}

/* Sidebar */
.dash-gestion {
  flex-grow: 1;
  width: 100%;
  transition: margin 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

@media (min-width: 1024px) {
  .dash-gestion.collapsed {
    margin-left: -192px;
    transition: margin 0.3s ease-in-out;
  }
}

/* Responsive */
@media (max-width: 1024px) {
  .dash-gestion {
    margin-left: 45px !important;
    width: 100%;
    transition: none;
  }
  
  .content-wrapper {
    width: 95%;
    margin: 40px auto;
    padding: 10px;
  }
}

@media (max-width: 768px) {
  .form-grid {
    grid-template-columns: 1fr;
  }
  
  .table-container {
    overflow-x: auto;
  }
  
  table {
    min-width: 600px;
  }
  
  .search-container {
    flex-direction: column;
  }
  
  .form-buttons {
    flex-direction: column;
  }
  
  button {
    width: 100%;
    padding: 6px 12px;
    font-size: 0.9rem;
  }
}

@media (max-width: 480px) {
  table {
    font-size: 0.9rem;
  }
  
  th, td {
    padding: 8px;
  }
  
  .inputedit, 
  input, 
  select {
    font-size: 0.9rem;
  }
}