.dash-home {
  flex-grow: 1; /* Ocupar todo el espacio disponible */
  width: 100%;
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 100%;
  max-width: 1200px;
}

.home-view h1 {
  color: #2c3e50;
  margin-bottom: 2rem;
}

.cards-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Dos columnas */
  grid-template-rows: auto 1fr; /* Asegurar espacio suficiente */
  gap: 1.5rem; /* Aumentar el espacio entre las tarjetas */
  width: 100%;
  height: auto;
  position: relative;
  align-items: start;
}

.card:nth-child(1) {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.card:nth-child(2) {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

.card:nth-child(3) {
  grid-column: 1 / 3; /* Ocupar ambas columnas */
  grid-row: 2 / 3;
  width: 50%; /* Ajustar el ancho de la tarjeta inferior */
  margin: 0 auto; /* Centrar horizontalmente */
  transform: none; /* Eliminar desplazamiento */
  align-self: center; /* Asegurar que se centre en su fila */
}

.card {
  border-radius: 12px;
  background: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
  transition: transform 0.3s ease;
  height: 250px; /* Aumentar altura para acomodar animaciones */
  display: flex;
  flex-direction: column; /* Para que los elementos se apilen */
  justify-content: center;
  align-items: center;
  padding: 1rem;
  text-align: center;
  cursor: pointer;
}

/* Efecto hover */
.card:hover {
  transform: translateY(-5px);
}

/* Colores para las tarjetas */
.card.blue {
  border-left: 4px solid #757A81;
}
.card.green {
  border-left: 4px solid #757A81;
}
.card.orange {
  border-left: 4px solid #757A81;
}

/* Ajustes para LottieFiles */
.card h2 {
  margin-bottom: .5rem;
}

.card .lottie-animation {
  width: 300px; /* Reducir tamaño */
  height: 300; /* Mantener proporción */
}


/* Responsivo: en móviles se apilan en 1 sola columna */
@media (max-width: 768px) {
  .cards-grid {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }
}
