

.content-wrapper {
  display: flex;               /* Usa flexbox */
  justify-content: center;     /* Centra horizontalmente */
  align-items: flex-start;     /* Alinea al inicio de la página de manera vertical */
  padding: 30px;               /* Aumenta el padding */
  background-color: #ffffff;
  height: auto;                /* Ajusta la altura automáticamente según el contenido */
  max-height: 85vh;            /* Limita la altura a un máximo del 85% de la ventana */
  width: auto;                  /* Define el ancho más grande */
  max-width: 1200px;           /* Ancho máximo */
  margin: 0 auto;        
  border-radius: 20px;         /* Centra horizontalmente */
}

h2 {
  color: #333;
  font-size: 1.6rem;           /* Tamaño de fuente más grande, pero no tan grande */
  margin-bottom: 25px;         /* Espacio adecuado debajo del título */
}

/* Formulario */
.flex flex-col gap-2 mb-4 {
  display: flex;
  flex-direction: row;
  gap: 20px; /* Espacio entre los campos */
}

input,
select {
  padding: 16px;               /* Ajusta el padding para hacerlo más cómodo */
  margin-bottom: 20px;         /* Espacio adecuado entre los campos */
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 1.1rem;           /* Aumenta el tamaño del texto en los campos */
}

input:focus,
select:focus {
  outline: none;
  border-color: #4CAF50;
}

button {
  padding: 10px 22px;          /* Padding ajustado */
  border-radius: 8px;
  font-size: 1.1rem;           /* Tamaño del texto del botón ajustado */
  transition: all 0.3s;
}

button:hover {
  opacity: 0.9;
}

.bg-blue-500 {
  background-color: #87ccf6;
  border: none;
}

.bg-blue-500:hover {
  background-color: #628bb1;
  border: none;
}

.bg-yellow-500 {
  background-color: #b4aec0;
  border: none;
}

.bg-yellow-500:hover {
  background-color: rgb(99, 91, 129);
  border: none;
}

.bg-red-500 {
  background-color: #ffa27d;
  border: none;
}

.bg-red-500:hover {
  background-color: #bb8a64;
  border: none;
}

button:focus {
  outline: none;
}

/* Estilo de la tabla */
.table-container {
  margin-top: 25px;
  overflow-x: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
  font-size: 1.1rem;            /* Aumenta el tamaño de la fuente de la tabla */
}

th,
td {
  padding: 14px;               /* Aumenta el padding de las celdas */
  text-align: left;
}

th {
  background-color: #f1f1f1;
  font-weight: bold;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}

tr:hover {
  background-color: #f1f1f1;
  cursor: pointer;
}

td button {
  margin-right: 10px;          /* Espacio adecuado entre los botones */
}

/* Estilos para pantallas pequeñas */
@media (max-width: 768px) {
  .main-content {
    margin-left: 0;
  }

  .content-container {
    padding: 20px; /* Ajuste de padding para pantallas pequeñas */
  }

  table {
    font-size: 1.05rem; /* Tamaño de fuente ligeramente mayor en pantallas pequeñas */
  }

  th, td {
    padding: 12px;    /* Padding adecuado para pantallas pequeñas */
  }
}
