.content-wrapper {
  max-width: 100%;
  width: 90%;
  margin: 20px auto;
  padding: 20px;
  background: white;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  border-radius: 12px;
}

h2 {
  color: #333;
  font-size: 1.6rem;
  margin-bottom: 25px;
}

/* Formulario */
.gestion-form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

input,
select {
  padding: 8px 16px;
  margin-bottom: 0;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 1.1rem;
  width: 25%;
}

input:focus,
select:focus {
  outline: none;
  border-color: #4c6aaf;
}

button {
  padding: 8px 22px;
  border-radius: 8px;
  font-size: 1.1rem;
  transition: all 0.3s;
}

button:hover {
  opacity: 0.9;
}

.bg-blue-500 {
  background-color: #87b3f6;
  border: none;
}

.bg-blue-500:hover {
  background-color: #628bb1;
  border: none;
}

.bg-yellow-500 {
  background-color: #b4aec0;
  border: none;
}

.bg-yellow-500:hover {
  background-color: rgb(99, 91, 129);
  border: none;
}

.bg-red-500 {
  background-color: #ffa27d;
  border: none;
}

.bg-red-500:hover {
  background-color: #bb8a64;
  border: none;
}

button:focus {
  outline: none;
}

/* Estilo de la tabla */
.table-container {
  margin-top: 25px;
  overflow-x: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
  font-size: 1.1rem;
}

th,
td {
  padding: 14px;
  text-align: left;
}

th {
  background-color: #f1f1f1;
  font-weight: bold;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}

tr:hover {
  background-color: #f1f1f1;
  cursor: pointer;
}

td button {
  margin-right: 10px;
}

/* Estilos para pantallas pequeñas */
@media (max-width: 768px) {
  .main-content {
    margin-left: 0;
  }

  .content-container {
    padding: 20px;
  }

  table {
    font-size: 1.05rem;
  }

  th, td {
    padding: 12px;
  }
}