@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.auth-body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(90deg, #e2e2e2, #c9d6ff);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.auth-container {
  position: relative;
  width: 1400px;
  height: 800px;
  background: #fff;
  border-radius: 30px;
  box-shadow: 0 0 30px rgba(0, 0, 0, .2);
  overflow: hidden;
  transition: 0.5s;
}

.auth-container h1 {
  font-size: 36px;
  margin-bottom: 10px;
}

.auth-container p {
  font-size: 14.5px;
}

.auth-form-box {
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  background: #fff;
  display: flex;
  align-items: center;
  text-align: center;
  padding: 40px;
  transition: all 0.5s ease-in-out;
  opacity: 1;
  visibility: visible;
  z-index: 2;
  justify-content: center;
}

.auth-container.auth-active .auth-form-box {
  right: 50%;
}

.auth-form-box-register {
  opacity: 0;
  visibility: hidden;
  transform: translateX(100%);
}

.auth-container.auth-active .auth-form-box-register {
  opacity: 1;
  visibility: visible;
  transform: translateX(0);
}

.auth-container.auth-active .auth-form-box-login {
  opacity: 0;
  visibility: hidden;
  transform: translateX(-100%);
}

.auth-input-box {
  position: relative;
  margin: 30px 0;
}

.auth-input-box input {
  width: 100%;
  padding: 13px 50px 13px 20px;
  background: #eee;
  border-radius: 8px;
  border: none;
  font-size: 16px;
}

.auth-input-icon {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
  color: #222A35;
}

.auth-btn {
  width: 300px;
  height: 48px;
  background: #222A35;
  border-radius: 8px;
  border: 2px solid #fff;
  cursor: pointer;
  font-size: 16px;
  color: #fff;
  font-weight: 600;
  transition: all 0.3s ease-in-out;
  margin-top: 30px;
}

.auth-btn:hover {
  background: linear-gradient(90deg, #e2e2e2, #c9d6ff);;
  color: #222A35;
}

.auth-social-icons {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.auth-social-icons a {
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 8px;
  font-size: 24px;
  color: #222A35;
  margin: 0 8px;
}

.auth-toggle-box {
  position: absolute;
  width: 100%;
  height: 100%;
  transition: transform 0.8s ease-in-out;
  z-index: 1;
}

.auth-toggle-box::before {
  content: '';
  position: absolute;
  left: -250%;
  width: 300%;
  height: 100%;
  background: #222A35;
  border-radius: 150px;
  transition: transform 0.8s ease-in-out, left 0.5s ease-in-out;
}

.auth-container.auth-active .auth-toggle-box::before {
  left: 50%;
}

.auth-toggle-panel {
  position: absolute;
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 2;
  transition: transform 0.5s ease-in-out, opacity 0.3s ease-in-out;
}

.auth-toggle-left {
  left: 0;
  transition-delay: 0.2s;
  color: #fff;
}

.auth-toggle-right {
  right: -50%;
  opacity: 0;
  transition-delay: 0.2s;
  color: #fff;
}

.auth-container.auth-active .auth-toggle-left {
  left: -50%;
  opacity: 0;
}

.auth-container.auth-active .auth-toggle-right {
  right: 0;
  opacity: 1;
}

.auth-registro-logo {
  width: 150px; /* Ajusta el tamaño según sea necesario */
  height: auto; /* Mantiene la proporción */
  margin-bottom: 15px; /* Espaciado debajo del logo */
}


@media screen and (max-width: 650px) {
  .auth-container {
    height: auto;
  }

  .auth-form-box {
    width: 100%;
    height: auto;
  }
}